<!DOCTYPE html>
<html lang="en">
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
.red {background-color: #f44336;}
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 32px 2px;
  cursor: pointer;
}
#main {
  margin-top: 15px;
}
</style>
<body>

<!-- Header -->
<header class="w3-container w3-red w3-center" style="padding:256px 16px; height: 100vh">
  <h1 class="w3-margin w3-jumbo">Lab Monitor</h1>
  <button onclick="scrollToMain()" class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Get Started</button>
</header>

<div id="main" class="w3-center w3-container" style="padding-top: 16px">
  <div class="w3-content">
    <img src="{{ url_for('video_feed') }}">

    <div class="w3-center">
      <a href="/get_facial_encodings"><button class="button red">Export facial encodings</button></a>
      <!-- <a href="#" id="framebtn" target="_blank"><button class="button red">Save frame</button></a> -->
      <a href="/download_frame"><button class="button red">Save frame</button></a>
      <button class="button red">Get position data</button>
    </div>
  </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
  function scrollToMain() {
    var elmnt = document.getElementById("main");
    console.log("HERE");
    elmnt.scrollIntoView({
      behavior: 'smooth'
    });
  }

  // $(function() {
  //   $('a#framebtn').bind('click', function() {
  //     $.getJSON('/download_frame?_=' + new Date().getTime(),
  //       function(data) {
  //
  //       });
  //     return false;
  //   });
  // });
</script>

</body>
</html>
